[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/taboo"]
	path = bundle/taboo
	url = https://github.com/gcmt/taboo.vim
[submodule "bundle/vim-boxdraw"]
	path = bundle/vim-boxdraw
	url = https://github.com/gyim/vim-boxdraw
